{% extends "base.html" %}

{% block main_content %}

    <p><h1>Welcome</h1></p>
    <p><h2>Our Book Catalog</h2></p>

    <p>
    <details>
        <summary><h3>Select Book Type</h3></summary>
        <a href="{{ url_for('books_by_type', book_type='science fiction') }}">science fiction</a>
        <a href="{{ url_for('books_by_type', book_type='romantic') }}">romantic</a>
        <a href="{{ url_for('books_by_type', book_type='historical') }}">historical</a>
    </details>
    </p>

    <p><h1>The top item in your shopping cart has been purchased successfully!!!</h1></p>

    <p>
    <table>
        <tr>
            <td>Name</td>
            <td>Single Price</td>
            <td></td>
            <td>stockpiles</td>
            <td>Total Price</td>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book["name"] }}</td>
                <td>{{ book["price"] }}€</td>
                <td><img src="{{ url_for('static', filename=book['img_loc']) }}" alt="from wiki"></td>
                <td>{{ book["stockpiles"] }}</td>
                <td><a href="{{ url_for('book', book_id=book['book_id']) }}">Details</a></td>
            </tr>
        {% endfor %}
    </table>
    </p>

{% endblock %}